/* You can add global styles to this file, and also import other style files */


html {
  height: 100%;
  background-color: black!important;
}

body {

  background-color: black!important;
  height: 100%;
}

app-root {
  background-color: black;
}
